<h3>POUZIVATELIA</h3>

<div class="container">
  <form [formGroup]="form">
    <span class="invalid-text" *ngIf="form.controls.name.invalid">Zadajte meno </span>
    <input type="text" placeholder="Meno" formControlName="name"/>

    <span class="invalid-text" *ngIf="form.controls.surname.errors?.required">Zadajte priezvisko </span>
    <span class="invalid-text" *ngIf="form.controls.surname.errors?.minlength">Minimalna dlzka priezviska su 3 znaky </span>
    <input type="text" placeholder="Priezvisko" formControlName="surname"/>

    <button type="button" (click)="savePerson()">Ulozit</button>
  </form>

  <table *ngIf="persons.length">
    <tr>
      <th>Meno</th>
      <th>Priezvisko</th>
    </tr>
    <tr *ngFor="let person of persons; let i = index">
      <td>{{person.name}}</td>
      <td>{{person.surname}}</td>
      <button (click)="deletePerson(i)">Zmazat</button>
      <button (click)="editPerson(i)">Upravit</button>
    </tr>
  </table>
</div>
