<form [formGroup]="form" (submit)="savePerson()">
  <label>Meno:
    <input type="text" formControlName="firstName" />
  </label>
  <p *ngIf="form.controls.firstName.invalid" class="invalid-text">Zadajte meno</p>
  <label>Priezvisko:
    <input type="text" formControlName="lastName" />
  </label>
  <p *ngIf="form.controls.lastName.errors?.minlength" class="invalid-text">Zadajte priezvisko</p>
  <p *ngIf="form.controls.lastName.errors?.required" class="invalid-text">Minimálna dĺžka priezviska sú 3 znaky</p>
  <button type="submit" [disabled]="form.invalid">Uložiť</button>
</form>
