.container {
  text-align: center;
}

.container input {
  margin-right: 10px;
}

.container table {
  width: 500px;
  border-collapse: collapse;
  margin: 2rem auto auto;
}
.container th, td {
  border: 1px solid;
}
.container th {
  background: #AAACCC;
  font-size: 13pt;
}
