<div class="container">
<!--  <p class="invalid-text" *ngIf="form.controls.customerID.invalid">Zadajte ID pouzivatela</p>-->
<!--  <p class="invalid-text" *ngIf="form.controls.bookID.invalid">Zadajte ID knihy</p>-->

  <form [formGroup]="form" (submit)="saveBorrowing()">
    <label>Používateľ:
      <select formControlName="user">
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.firstName + ' ' + user.lastName }}
        </option>
      </select>
    </label>

    <label>Kniha:
      <select formControlName="book">
        <option *ngFor="let book of books" [value]="book.id">
          {{ book.title }}
        </option>
      </select>
    </label>

    <button class="submit-btn" type="submit" [disabled]="form.invalid">Ulozit</button>
  </form>
</div>
