<div class="header">
  <button routerLink="user">
    POUŽÍVATELIA
  </button>
  <button routerLink="book">
    KNIHY
  </button>
  <button routerLink="borrowing">
    VÝPOŽIČKY
  </button>
</div>

<div class="container">
  <ng-container *ngIf="actualMenu === menu.USERS">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-container *ngIf="actualMenu === menu.BOOKS">
    <router-outlet></router-outlet>
  </ng-container>

<ng-container *ngIf="actualMenu === menu.BORROWINGS">
  <router-outlet></router-outlet>
</ng-container>

<!--  <ng-container *ngIf="actualMenu === menu.GENRES">-->
<!--    <h3>ZANRE</h3>-->

<!--    <form [formGroup]="form">-->
<!--      <input type="text" placeholder="Nazov zanru" formControlName="title">-->

<!--      <button type="button" (click)="saveGenre()">Ulozit</button>-->
<!--    </form>-->

<!--    <table *ngIf="genres.length">-->
<!--      <tr>-->
<!--        <th>Nazov zanru</th>-->
<!--      </tr>-->
<!--      <tr *ngFor="let genre of genres">-->
<!--        <td>{{genre.title}}</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </ng-container>-->
</div>
