<h3>VYPOZICKY</h3>

<form [formGroup]="form">
  <label>
    <input type="text" placeholder="Meno" formControlName="name">
  </label>

  <label>
    <input type="text" placeholder="Priezvisko" formControlName="surname">
  </label>

  <label>
    <input type="text" placeholder="Nazov knihy" formControlName="title">
  </label>

  <button type="button" (click)="saveBorrowing()">Ulozit</button>
</form>

<table *ngIf="borrowings.length">
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Nazov knihy</th>
  </tr>
  <tr *ngFor="let borrowing of borrowings ; let i = index">
    <td>{{borrowing.name}}</td>
    <td>{{borrowing.surname}}</td>
    <td>{{borrowing.title}}</td>
    <td>
      <button (click)="deleteBorrowing(i)">Zmazat</button>
      <button (click)="editBorrowing(i)">Upravit</button>
    </td>
  </tr>
</table>
